
$header-bg-color: #432D22;
$header-border-color: #BE4C16;
$header-txt-color: white;

header{
    padding: 10px;
    color: $header-txt-color;
    background-color: $header-bg-color;
    border-bottom: solid 2px $header-border-color;
    text-align: center;
    font-weight: bold;
}

ul{
    list-style: circle;
    border: dashed 1px $header-border-color;
    padding: 10px;

    li{
        margin-bottom: 5px; color: $header-bg-color;
        
        button{
            display: block;
            border: none;
            min-width: 150px;
            text-align: left;
            background-color: $header-bg-color;
            color: white;
            padding: 10px;
            cursor: pointer;

            &:hover{
                background-color: $header-border-color;
            }
        }

    }
}

.user-detail{
    list-style: circle;
    border: dashed 1px $header-border-color;
    padding: 10px;
}

.content-holder{
    display: flex;

    .sidebar{
        flex: 2;
    }

    .content{
        flex: 8;
    }
}